<div class="container">
    <!--   Botones para pc   -->
    <div class="max20px">
        <nav class="text-center">
            <ul class="navbar navbar-bar mx-auto d-flex">
                <li><a href="" class="fontButtons">Inicio</a></li>
                <li><a href="" class="fontButtons">Acerca de</a></li>
                <li><a href="" class="fontButtons">Experiencia</a></li>
                <li><a href="" class="fontButtons">Educación</a></li>
                <li><a href="" class="fontButtons">Skills</a></li>
                <li><a href="" class="fontButtons">Proyectos</a></li>
                <li><a href="" class="fontButtons">Contacto</a></li>
            </ul>
        </nav>
    </div>
</div>