<div class="container">
    <div class="max20px">
        <nav class="text-center">
            <ul class="navbar navbar-bar d-block">
                <li><a href="" class="fontButtons nombre">Inicio</a></li>
                <li><a href="" class="fontButtons nombre">Acerca de</a></li>
                <li><a href="" class="fontButtons nombre">Experiencia</a></li>
                <li><a href="" class="fontButtons nombre">Educación</a></li>
                <li><a href="" class="fontButtons nombre">Skills</a></li>
                <li><a href="" class="fontButtons nombre">Proyectos</a></li>
                <li><a href="" class="fontButtons nombre">Contacto</a></li>
            </ul>
        </nav>
    </div>
</div>