<div class="listonAzul">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="aliIzq">
                <img class="iconListon logoInti" src="../assets/img/argprog.png" alt="Logos Inti Ministerio de Desarrollo">
            </p>
        </div>

        <div class="col-12 col-md-6">
            <p class="aliDer">
                <img class="redesListon iconListon" src="../assets/img/li.png" alt=" Icon LinkedIn">
                <img class="redesListon iconListon" src="../assets/img/ig.png" alt=" Icon Instagram">
                <img class="redesListon iconListon" src="../assets/img/fb.png" alt=" Icon Facebook">
                <img class="redesListon iconListon" src="../assets/img/tw.png" alt=" Icon Twitter">
                <button class="btn btn-secundary redesListon iconListon fontButtons radioCirc">{{  txtBtnLogin  }}</button>
            </p>
        </div>
    </div>
</div>