<div class="listonAzul">
    <div class="row">
        <div class="col-12 col-md-6">
            <p class="aliIzq">
                <img class="logoArgProg" src="../assets/img/argprog.png" alt="Logos Inti Ministerio de Desarrollo">
            </p>
        </div>

        <div class="col-12 col-md-6">
            <p class="aliDer">
                <a href="{{ gh }}" *ngIf="sGh"><img class="redesListon" src="../assets/img/gh.png" alt=" Icon GitHub"></a>
                <a href="{{ li }}" *ngIf="sLi"><img class="redesListon" src="../assets/img/li.png" alt=" Icon LinkedIn"></a>
                <a href="{{ ins }}" *ngIf="sIns"><img class="redesListon" src="../assets/img/ig.png" alt=" Icon Instagram"></a>
                <a href="{{ fb }}" *ngIf="sFb"><img class="redesListon" src="../assets/img/fb.png" alt=" Icon Facebook"></a>
                <a href="{{ tw }}" *ngIf="sTw"><img class="redesListon" src="../assets/img/tw.png" alt=" Icon Twitter"></a>
                <a href="javascript:void(0)" (click)="logeo()"><button class="btn btn-secundary redesListon fontButtons radioCirc"  *ngIf="sLog">{{  txtBtnLogin  }}</button></a>
            </p>
        </div>
    </div>
</div>