<div class="container">
    <div class="borderRadius bg-white bl-grey sombra marginB20 animationFX">
        <div class="row d_head">
            <hr>
            <div class="col-12 col-lg-6 m-0">
                <p class="titulo text-center linearoja"><b>Usuario Nuevo</b></p>
            </div>

            <div class="col-12 col-lg-6 m-0">
                <p class="titulo text-center linearoja"><b>Inicio de Session</b></p>
            </div>
        </div>

        <div class="row d_head">
            <div class="col-12 col-lg-6 m-0">
                <div class="cuadroLogin linearoja">
                    <input type="text">
                </div>
            </div>

            <div class="col-12 col-lg-6 m-0">
                <p class="titulo text-center linearoja"><b>Inicio de Session</b></p>
            </div>
        </div>


    </div>
</div>