<div class="container">
    <div class="borderRadius bg-white bl-grey sombra marginB20 animationFX">
        <div class="row d_head">
            <div class="col-12 col-lg-12 m-0">
                <div class="row margin30 alturaMinima">
                    <div class="col-12 col-lg-8">
                        <app-propa></app-propa>
                    </div>
                    <div class="col-12 col-lg-4 centrar">
                        <app-inicio-session></app-inicio-session>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>