@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Russo+One&display=swap');

html {
    height: 100%;
}

body {
    background-color: #eeeeee;
}

nav ul li {
    margin: 10px 1px 1px 10px;
    list-style: none;
}

.max20px {
    max-height: 20px;
}

.z-5px {
    position: relative;
    top: -5px;
    z-index: -5;
}

.maxw100 {
    max-width: 100%;
}

.max60px {
    max-height: 60px;
}

.overflowH {
    overflow: hidden;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#footer {
    margin-top: auto;
}

.fontTitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.fontButtons {
    font-family: 'Russo One', sans-serif;
    color: white;
}

.listonAzul {
    background-color: #00358e;
    max-height: 70px;
}

.logoInti {
    max-height: 60px;
}

.redesListon {
    max-height: 35px;
    margin-top: 17px;
    margin-right: 20px;
}

.sombra {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.pBtn {
    padding: 0px 10px 0px;
    cursor: pointer;
}

.aliIzq {
    text-align: left;
}

.aliDer {
    text-align: right;
}

.radioCirc {
    border: solid 1px white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.semiFondo {
    background-color: rgba(0, 0, 0, 0.5);
}

.dlr {
    max-height: 20px;
    margin-left: 10px;
}

.footerpadding {
    padding-top: 10px;
}

.fotoLucio {
    display: flex;
    align-content: center;
    margin-top: 30px;

}

.fotoMax {
    width: auto;
    height: 100%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.fotoPerfil {
    position: relative;
    width: auto;
    max-height: 230px;
    border: solid 5px white;
    top: -130px;
    left: 40px;
}

.nombre {
    font-size: 30px;
}

.texto {
    color: rgb(73, 73, 73);
}

.imgRedes {
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}

.imgAjustar {
    object-fit: cover;
}

.textWhite {
    color: white;
}

.borderRadius {
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
}

.bl-grey {
    border: solid 2px #d4d2d2;
}

.d_head {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.altura {
    height: auto;
    max-height: 100px;
}

@media screen and (max-width: 720px) {
    .listonAzul {
        background-color: #00358e;
        max-height: 110px;
    }

    .aliIzq {
        text-align: center;
    }
    
    .aliDer {
        text-align: center;
    }

    .redesListon {
        max-height: 30px;
        margin-top: 0px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .logoInti {
        max-height: 50px;
    }
    
    .fotoPerfil {
        position: relative;
        width: auto;
        max-height: 150px;
        border: solid 5px white;
        top: -70px;
        left: 15px;
    }

    .altura {
        height: 90px;
    }
}

.lineaRoja {
    border: solid 2px red;
}