<div class="container">
    <p class="text-uppercase">¿Quieres impresionar a los reclutadores y destacar entre la multitud de solicitantes?</p>
    <h3 class="text-center"><b>¡Destaca con un currículum vitae profesional!</b></h3>
    <p class="mTop">Convierte tu experiencia, habilidades y logros en un currículum vitae impactante en tan solo unos minutos. Nuestra plataforma intuitiva y fácil de usar te guiará paso a paso para crear un currículum vitae que resalte tus fortalezas y destaque tu trayectoria profesional.</p>
    <p class="">¡Impulsa tu carrera con un currículum vitae profesional creado en nuestra página web! No pierdas más oportunidades laborales y comienza a destacar entre los demás candidatos. ¡Crea tu currículum vitae en línea hoy mismo y da el primer paso hacia el éxito profesional!</p>
</div>